{:paths ["src" "test"]
 :pods  {org.babashka/go-sqlite3 {:version "0.3.13"}}
 :tasks
 {test {:doc  "Run all tests"
        :task (do (require 'db-test 'server-test 'protocol-test)
                  (let [{:keys [fail error]} (clojure.test/run-tests 'db-test 'server-test 'protocol-test)]
                    (System/exit (+ fail error))))}}}
